@property --myColor1 {
  syntax: '<color>';
  initial-value: rgba(0, 0, 0, 0.3);
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: rgba(0, 0, 0, 0.3);
  inherits: false;
}

.effect-display {
  width:56px; 
  height:36px; 
  margin:10px 0 7px 1px; 
  border-radius: 5px;
}

.effect-display img {
  width:54px !important; 
  height:34px !important; 
  border-radius: 4px !important;
}

#theirHand {
  margin-top: 18px;
}

.their-resources {
  position:fixed; 
  width:200px; 
  height:96px; 
  left: 20px; 
  top:20px; 
  z-index: 200; 
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.their-discard {
  position:fixed; 
  right:364px; 
  top:21px; 
  border-radius:5px; 
  background-color: rgba(0, 0, 0, 0.3);
}

.their-deck {
  position:fixed; 
  right:256px; 
  top:19px;
  border-radius: 5px;
}

.my-discard {
  position:fixed; 
  right:364px; 
  bottom:20px; 
  border-radius:5px; 
}

.my-resources:hover {
  --myColor1: rgba(24, 53, 81, 0.60);
  --myColor2: rgba(77, 118, 155, 0.60);
 }

.my-resources {
  position:fixed; 
  width:200px; 
  height:96px; 
  left: 20px; 
  bottom:20px; 
  z-index: 200; 
  border-radius: 5px;
  background: linear-gradient(var(--myColor1), var(--myColor2));
  transition: --myColor1 0.2s, --myColor2 0.2s;
}

.my-deck {
  position:fixed; 
  right:256px; 
  bottom:18px;
  border-radius: 5px;
}

.my-discard a, .my-deck a {
  margin-bottom: 0 !important;
}

.my-discard img, .their-discard img {
  border: 0 !important;
}

.my-initiative, .their-initiative {
  right:258px; 
  position:absolute; 
  border-radius: 15px; 
  height: 30px; 
  width: 96px; 
}

.my-initiative span, .their-initiative span {
  position:relative; 
  margin: 5px auto 0; 
  text-align: center; 
  display:block; 
  z-index:10; 
  font-size: 16px; 
  font-weight:600; 
  color:black; user-select: none;
}

.my-initiative {
  bottom:127px; 
  background: #00BAFF; 
}

.their-initiative {
  top:127px; 
  background: #FB0007; 
}

/* Less than 1200px wide */

@media screen and (max-width: 1199px) {

  .their-discard {
    right:258px; 
    top:20px; 
  }
  
  .their-deck {
    right:256px; 
    top:124px;
  }

  .their-resources {
    width:96px; 
    height:96px; 
    display: flex;
    cursor: default;
    flex-direction: column;
    align-items: center;
  }

  .my-discard {
    right:258px; 
    bottom:20px; 
  }

  .my-deck {
    right:256px; 
    bottom:124px;
  }

  .my-resources {
    width:96px; 
    height:96px; 
    display: flex;
    cursor: default;
    flex-direction: column;
    align-items: center;
  }

  .resources {
    display: flex;
    cursor: default;
    flex-direction: column;
    align-items: center;
    padding: 11px 0 9px 0 !important;
  }

  .resources img {
    margin-bottom: 2px;
  }

  .resources span {
    margin: 0 !important;
  }
  
  .my-initiative {
    bottom:232px; 
  }
  
  .their-initiative {
    top:232px; 
  }

}

/* Legacy Styles */

   @media screen and (-webkit-min-device-pixel-ratio:0) {
    ::-webkit-scrollbar {
      width: .50em;
      height: .50em;
      border-radius: 5px;
    }
  
    ::-webkit-scrollbar-track {
      background-color: #d9d6d6;
      border-radius: 5px;
    }
  
    ::-webkit-scrollbar-thumb:vertical {
      height: 5em;
      background-color: #000;
      border-radius: 5px;
    }
  
    ::-webkit-scrollbar-thumb:horizontal {
      height: 5em;
      background-color: #000;
      border-radius: 5px;
    }
  }

:root {
  --dark-color: #1a1a1a;
  --light-color: #DDD;
  --text-shadow: 2px 0 0 var(--dark-color), 0 -2px 0 var(--dark-color), 0 2px 0 var(--dark-color), -2px 0 0 var(--dark-color);
  --grey-transparent-background: rgba(74, 74, 74, 0.9);
  --font-family: 'Helvetica', sans-serif;
  --button-box-shadow: 1px 1px 0 var(--dark-color), -1px -1px 0 var(--dark-color), -1px 1px 0 var(--dark-color), 1px -1px 0 var(--dark-color);
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
}

h2,
h3 {
  margin: 5px;
  text-align: center;
}

h4 {
  margin: 0;
  text-align: center;
}

/* ==============
    Setting Menu 
   ============== */

.table-MainMenu {
  width: 90%;
  height: 95%;
  border-spacing: 0;
  border-collapse: collapse;
  color: white;
}

.table-td-MainMenu {
  text-align: left;
}

.table-MainMenu [type="checkbox"]+label {
    margin-left: 175px;
}

/* ============
    Checkboxes
   ============ */

/* Hide the browser default checkbox */
[type="checkbox"] {
  opacity: 0;
}

/* Edit the checkbox label */
[type="checkbox"]+label {
  position: relative;
  padding-left: 20px;
  padding-top: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  font-size: 16px;
}

/* Checkbox when unchecked */
[type="checkbox"]+label:before {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 3px;
}

/* Apply to the checkbox when checked */
[type="checkbox"]:checked+label:before {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  outline: 3px solid #1a1a1a;
  background: #fff;
}

[type="checkbox"]:checked+label:after {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  background-image: url("../Images/trans-check.png");
  background-size: contain;
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}

[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  background-image: url("../Images/trans-check.png");
  background-size: contain;
  transform: scale(0);
  opacity: 0;
}

.multichoose img {
  width: 100%;
  position: relative;
  cursor: pointer;
  top: -10px;
  left: 0px;
}

.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: -10px;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
  border-radius: 8px;
  pointer-events: none;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
  pointer-events: none;
}

.text {
  white-space: nowrap;
  font: barlow;
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  pointer-events: none;
}

/* ===============
    Radio Buttons
   =============== */

/* Hide the browser default radio */
[type="radio"] {
  opacity: 0;
}

/* Edit the radio label */
[type="radio"]+label {
  position: relative;
  padding-left: 18px;
  padding-top: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  font-size: 18px;
  margin-left: 75px;
}

/* radio when unchecked */
[type="radio"]+label:before {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  outline: 3px solid #1a1a1a;
  background: #fff;
  border-radius: 50%;
}

/* Apply to the radio when checked */
[type="radio"]:checked+label:before {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  outline: 3px solid #1a1a1a;
  background: #fff;
  border-radius: 50%;
}

[type="radio"]:checked+label:after {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  background-image: url("../Images/trans-radio.png");
  background-size: contain;
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}

[type="radio"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  left: -5;
  top: 15;
  width: 16px;
  height: 16px;
  background-image: url("../Images/trans-radio.png");
  background-size: contain;
  transform: scale(0);
  opacity: 0;
}

/* =========
    Buttons
   ========= */

button {
  cursor: pointer;
  font-size: 18px;
  color: white;
  background: #292929;
  border: 0;
  box-shadow: inset 0px 0px 0px 1px #454545;
  transition: 150ms ease-in-out;
  font-family: 'barlow';
  font-weight: 600;
  padding: 8px 20px 10px;
  border-radius: 5px;
  margin: 0 5px;
}

input[type="button"] {
  cursor: pointer;
  font-size: 18px;
  color: white;
  background: #292929;
  border: 0;
  box-shadow: inset 0px 0px 0px 1px #454545;
  transition: 150ms ease-in-out;
  font-family: 'barlow';
  font-weight: 600;
  padding: 8px 20px 10px;
  border-radius: 5px;
  margin: 0 5px;
}

button:hover,
input[type="button"]:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

button:focus,
input[type="button"]:focus {
  outline: none;
}

.Rate-Span {
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  font-weight: 550;
}

.time-Span {
  min-height: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.GameLobby_Input {
  font-family: var(--font-family);
  border: 1px solid var(--dark-color);
  box-shadow: var(--button-box-shadow);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5%;
}

.leave-game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.leave-game-wrapper h3 {
  margin-bottom: 30px;
}

.leave-game-buttons {
  text-align: center;
}

.leave-game-buttons button:first-child {
  margin-right: 15px;
}