/* GLOBAL ---------------------------------------------------------------------------------------------- */

/* Fonts */

html, body, h1, h2, h3, h4, h5, h6, p, a, b, ul, ol, dl, dd, form, details, blockquote, table, button, input, label, select, textarea {
  font-family: barlow;
  color: white;
  margin: 0;
}

h1 {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

p, label {
  font-size: 16px;
  font-weight: 400;
}

p {
  line-height: 130%;
  margin-bottom: 15px;
}

.p-small {
  font-size: 12px;
}

p a{
  color: #bddbff;
}

.secondary {
  color: #aaaaaa;
}

p:last-child { 
  margin-bottom: 0; 
}

b {
  font-weight: 600;
}

hr {
width: 100%;
height: 1px;
background: #353739;
border: 0;
margin-bottom: 20px;
}

ul, li, .nav-bar {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  column-gap: 15px;
}

/* Core Styles */

body {
  background-size: cover; 
  background-position: center; 
  background-image: url('../Images/gamebg.jpg');
  max-width: 100%;
  height: 100%;
  margin: 0px;
}

button, input, select, textarea {
  padding: 10px 15px;
  background: #394452;
  border: 0;
  border-radius: 5px;
  line-height: 1.125;
  font-size: 16px;
}

button, .GameLobby_Button, .create-game-button, .ServerChecker_Button, .JoinGame_Button, .spectate-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #292929;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  transition: 150ms ease-in-out;
  box-shadow: inset 0px 0px 0px 1px #454545;
}

button:hover, .GameLobby_Button:hover, .create-game-button:hover, .ServerChecker_Button:hover, .JoinGame_Button:hover, .spectate-button:hover {
  transform: scale(1.1);
}

input, select {
  margin: 10px 0 20px 0;
}

select {
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23eceff4'%3E%3Cpath d='M5 6l5 5 5-5 2 1-7 7-7-7 2-1z'/%3E%3C/svg%3E") no-repeat;
  background-position: right 5px center;
  background-color: #394452;
  width: 100%;
  border-radius: 5px;
  appearance: none;
  display: block;
  border: none;
  }


.container {
  flex: 1;
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  scrollbar-color: #888888 rgba(0, 0, 0, 0); 
  scrollbar-width: thin;
}

.bg-blue { 
  background: rgba(24, 50, 81, 0.60);
}

.bg-black {
  background-color: rgb(0, 0, 0, 0.60);
}

.flex-wrapper {
  flex: 1;
  overflow-y: auto;
  scrollbar-color: #888888 rgba(0, 0, 0, 0); 
  scrollbar-width: thin;
  border-radius: 10px;
}

.flex-padder {
  flex: 1;
  margin: 0 20px;
}

.core-wrapper {
  margin-top: -136px;
  height: calc(100% - 230px);
  display: flex;
  flex-direction: row;
}


/* HEADER ---------------------------------------------------------------------------------------------- */

.home-header {
  height: 276px;
  padding: 20px 0 20px 40px;
  position: relative;
}

.title {
  text-decoration: none;
  margin-top: 10px;
}

.home-header h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 5px;
}

.home-header p {
  text-align: left;
}

.home-banner {
  width: calc(100% - 240px);
  min-width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  mask: linear-gradient(to bottom, rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 50%, rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0) 100% 50% / 100% 100% repeat-x;
  display: flex;
  flex-direction: row;
}

.banner {
  background-size: cover;
  background-position: center;
  clip-path: polygon(150px 0, 100% 0, calc(100% - 150px) 326px, 0% 326px);
  flex: 1;
}

.block-1 { background-image: url('../Images/leia-sor.jpg'); margin-right: -152px; }
.block-2 { background-image: url('../Images/boba-shd.jpg'); }
.block-3 { background-image: url('../Images/kylo-sor.jpg'); margin-left: -152px; }
.block-4 { background-image: url('../Images/luke-sor.jpg'); margin-left: -152px; }

@media screen and (max-width: 1600px) { .block-4 { display: none; } }
@media screen and (max-width: 1200px) { .block-3 { display: none; } .block-2 { margin-left: -2px; } }
@media screen and (max-width: 800px)  { .block-2 { display: none; } .block-1 { margin-right: 0; } }

/* NAV BAR ---------------------------------------------------------------------------------------------- */

.nav-bar {
  position: absolute;
  right: 0px;
  top: 10px;  
  font-size: 18px;
  font-weight: 600;
  z-index: 20;
}

.nav-bar a {
  text-decoration: none; 
}

.nav-bar a:hover {
  text-decoration: underline;
}

.nav-bar-user, .nav-bar-links {
  background-color: rgb(0, 0, 0, 40%);
  backdrop-filter: blur(20px);
  padding: 10px 20px;
}

.nav-bar-links {
  border-radius: 50px 0 0 50px;
}

.nav-bar-user {
  margin: 0 20px 0 0;
  border-radius: 50px;
}

.nav-bar img {
  width: 25px;
  height: 25px;
}

/* HOME ---------------------------------------------------------------------------------------------- */

/* Game Browser */

.game-browser-wrapper { 
  margin-left: 20px;
  flex: 1;
}

.game-browser {
  height: calc(100% - 40px);
}

.game-browser h3 { 
  margin-bottom: 0;
}

.game-browser table {
  width: 100%;
  border-collapse: collapse;
}

.game-browser .game-name {
  width: 100%;
}

.game-browser input {
  margin: 0;
}

.game-item {
  margin-bottom: 20px;
}

.login-notice {
  margin-bottom: 20px;
}

.progress-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-count {
  font-weight: 400;
}

.spectate-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.game-browser .spectate-button {
  height: 38px;
  margin-top: 5px;
}

.format-title {
  font-weight: 600;
  margin-bottom: 5px;
}

/* Create Game */

.create-game-wrapper { 
  margin-left: 20px;
  flex: 1;
  height:fit-content;
  overflow-y: auto;
  scrollbar-color: #888888 rgba(0, 0, 0, 0); 
  scrollbar-width: thin;
  border-radius: 10px;
}

@media screen and (max-height: 780px) { .create-game-wrapper { height:auto; max-height: 503px; } }

.create-game-wrapper input, .create-game-wrapper select {
  width: 100%;
}

.privacy-input, .inputFavoriteDeck { 
  width: auto !important;
  margin: 0 5px 0 0;
}

#fabdb {
  margin-bottom: 10px;
}

#format {
  margin-bottom: 20px;
}

.game-name-label {
  display: block;
  margin-top: 10px;
}

.save-deck {
  margin-bottom: 20px;
  display: block;
}

.privacy-label {
  margin-right: 10px;
  margin-top: 10px;
}

.create-game-button {
  margin: 20px 0 0 0;
  width: auto !important;
}

.create-game-wrapper .login-notice { 
  margin-bottom: 10px;
}

/* Karabast Info */

.karabast-column {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  scrollbar-color: #888888 rgba(0, 0, 0, 0); 
  scrollbar-width: thin;
  border-radius: 10px;
}

.karabast-overview { 
  flex:0;
}

.karabast-news { 
  height: 100%;
  margin-top: 20px;
}

/* GAME INVITE ---------------------------------------------------------------------------------------------- */

.game-invite {
  margin: 0 0 20px 0;
  padding-bottom: 0;
}

.game-invite #fabdb, .game-invite #favoriteDecks {
  width: 100%;
}

.game-invite .save-deck {
  margin-bottom: 10px;
  display: block;
}

/* LOG IN --------------------------------------------------------------------------------------------------- */

.username, .password {
  width: 100%;
}

.login, .login-message {
  margin-bottom: 20px;
}

.remember-me input {
  margin: 0 5px 22px 0;
}

/* SIGN UP -------------------------------------------------------------------------------------------------- */

.signup-form input {
  width: 100%;
}

.signup-form-form {
  padding-bottom: 1px;
}

/* PROFILE ------------------------------------------------------------------------------------------------- */

.fav-decks {
  margin: 0 20px;
  overflow-y: auto;
}

.stats {
 margin: 0 20px 0 0;
 overflow-y: auto;
}

.imgPatreon {
  display: block;
  margin-bottom: 20px;
  border-radius: 5px;
}

.fav-decks table, .stats table {
  width: 100%;
  margin-bottom: 20px;
}

.fav-decks tr, .stats tr, .fav-decks td, .stats td {
  border-bottom: 1px solid #353739;
  font-size: 16px;
}

.block-input {
  margin-top: 0px;
}

/* GAME LOBBY ---------------------------------------------------------------------------------------------- */

.lobby-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100vh;
}

/* Header */

.lobby-header {
  grid-area: header;
  height: 40px;
  padding: 20px;
}

.lobby-header h1 {
  float: left;
  padding-left: 20px;
  margin-top: 3px;
}

.leave-lobby a {
  float: right;
  margin: 15px 0 0 0;
  padding: 0 20px 0 0;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.leave-lobby a:hover {
  text-decoration: underline;
}

/* Sizing Wrapper */

.lobby-wrapper {
  max-height: calc(100vh - 120px);
  grid-area: main;
  display: flex;
  }

/* Game Set Up */

.game-lobby { 
  margin-left: 20px;
  flex-basis: calc(33% - 60px);
  flex-grow: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.game-lobby h2 { 
  text-align: left;
}

.game-set-up {
  margin-bottom: 20px;
}

.game-set-up p {
  margin: 0 0 10px;
}

.chat-log {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.gamelog {
  flex:1;
  overflow-y: scroll;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.lobby-chat-input {
  display: flex;
  align-items: center;
}

.lobby-chat-input input {
  margin: 0px;
}

.lobby-chat-input input[type="text"] {
  flex: 1;
  border-radius: 5px 0 0 5px;
}

.lobby-chat-input button {
  flex: 0;
  border-radius: 0 5px 5px 0;
}

.invite-link-wrapper{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.invite-link {
  flex: 1;
  margin: 0;
  border-radius: 5px 0 0 5px;
}

.invite-link-wrapper .GameLobby_Button {
  flex: 0;
  border-radius: 0 5px 5px 0;
}

/* Players */

.player-info { 
  margin: 0 0 0 20px;
  flex-grow: 0;
}

.player-info img { 
  height: 177px !important;
  max-width: 250px !important;
  width: auto !important;
  aspect-ratio: 16 / 11.4;
  object-fit:contain;
  background-color: black;
}

@media screen and (max-height: 1050px) { .player-info img { height: 16vh !important; } }
@media screen and (max-height: 950px)  { .player-info img { height: 15vh !important; } }
@media screen and (max-height: 840px)  { .player-info img { height: 110px !important; }
  .player-info { 
  flex: 0;
  flex-basis: 157px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #888888 rgba(0, 0, 0, 0); 
  scrollbar-width: thin;
  } }

/* Deck */

.deck-info {
  margin: 0 20px;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.deck-header {
  display: flex;
  justify-content: space-between;
}

.deck-count{
  font-weight: 400;
}

.deck-display {
  display: block;  
  overflow-y: scroll; 
  overflow-x: hidden;
  scrollbar-color: #888888 rgba(0, 0, 0, 0); 
  scrollbar-width: thin;
}

.lobby-footer {
  grid-area: footer;
  height: 40px;
}

.lobby-footer .disclaimer {
  position: relative;
  padding: 12px 0;
  bottom: 0px;
}

/* DISCLAIMER ---------------------------------------------------------------------------------------------- */

.disclaimer {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.disclaimer p {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}