/* Pass Button */

/* Player Pick */

.playerpick-span {
  font-size:18px;
}

.playerpick-img {
  height:16px; 
  margin-right:5px; 
  vertical-align: -2px; 
  user-select: none;
}

/* Display Game Screen */

.display-game-screen {
  position:fixed; 
  left:0; 
  right:238px; 
  bottom:20px; 
  display:inline-block; 
  font-size:30px; 
  text-align:center; 
  min-height:35px;
}

.display-game-screen-manual {
  position:relative; 
  top: 5px; 
  z-index:10; 
  font-family:Helvetica; 
  font-size:18px; 
  font-weight: 550;
}

#manualAddCardToHand {
  width: 100px;
}

.manualAddCardToHand-button {
  position:relative; 
  font-size: 14px; 
  top:0; 
  left:0; 
  bottom: 5px; 
  box-shadow: none;
}

/* Base Damage Counters */

.base-dmg-wrapper {
  position:absolute; 
  z-index:1; 
  left: calc(50% - 169px); 
  width: 100px;
}

.base-dmg-position {
  display: flex; 
  justify-content: center;
}

.base-my-dmg, .base-their-dmg {
  position:fixed;
  height: 30px;
  padding: 0 10px; 
  background: url('../Images/dmgbg-l.png') left no-repeat, url('../Images/dmgbg-r.png') right no-repeat; 
  background-size: contain;
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.40));
  font-weight: 700; 
  font-size: 24px; 
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);  
  user-select: none;
  pointer-events:none
}

.base-my-dmg-manual {
  position:absolute; 
  top:120px; 
  left:65px;
}

.base-their-dmg-manual {
  position:absolute; 
  top:0px; 
  left:65px;
}


/* Game Background */

.game-bg {
  position:absolute; 
  z-index:-100; 
  left:0px; 
  top:0px; 
  width:100%; 
  height:100%;
}

.game-bg img {
  object-fit: cover; 
  height:100%; 
  width:100%;
}

/* Icon Holder */

#iconHolder {
  display: none;
}


/* Original */

#theirHand span a {
  border-radius: 8px;
}

.base-my-dmg {
  bottom: 365px;
} 

.base-their-dmg{
  top: 305px;
} 

@media only screen and (max-height: 733px) {
.base-my-dmg {
  bottom: calc(50% - 2px);
} 

.base-their-dmg{
  top: calc(50% - 62px);
} 
}

.spaceAlliesContainer, .groundAlliesContainer,
.spaceEnemiesContainer, .groundEnemiesContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

.spaceAlliesContainer, .spaceEnemiesContainer {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.groundAlliesContainer, .groundEnemiesContainer {
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

.spaceAlliesContainer .cardContainer, .groundAlliesContainer .cardContainer,
.spaceEnemiesContainer .cardContainer, .groundEnemiesContainer .cardContainer  {
  position: relative;
  display: flex;
}

.spaceAlliesContainer .cardImage, .groundAlliesContainer .cardImage,
.spaceEnemiesContainer .cardImage, .groundEnemiesContainer .cardImage {
  filter: drop-shadow(2px 2px 6px rgb(0, 0, 0, 0.3));
}

.cardContainer.exhausted {
  transform: rotate(5deg);
}
