
/* Log */

#sidebarWrapper {
  display:flex; 
  flex-direction: column; 
  background: rgba(0, 0, 0, 0.7); 
  position:fixed; 
  width:218px !important; 
  top:0; 
  right:0; 
  height: 100%; 
  padding-left:20px;
}

.MenuButtons {
  cursor:pointer;
}

.menu-buttons-wrapper-a {
  flex-grow:0; 
  flex-shrink:0;
  position:relative; 
  top: 6px; 
  height:50px;
}

.menu-buttons-wrapper-b {
  position:absolute; 
  top:12px; 
  right:20px;
}

.stats-icon, .menu-icon {
  width:44px; 
  height:44px;
}

.settings-icon, .exit-icon {
  width:20px; 
  height:20px;
}

.round-title {
  flex-grow:0; 
  flex-shrink:0; 
  text-align:left; 
  margin-top: -32px; 
  width:100%; 
  font-weight:bold; 
  font-size:20px; 
  text-transform: uppercase; 
  font-weight: 600; 
  color: white; 
  user-select: none;
}


/* My Resources */

.my-resources .resources {
  padding:28px 0; 
  display: flex; 
  justify-content: center; 
  cursor:pointer;
}

.my-resources .resources img {
  width:26px; 
  height:34px; 
  margin-top:3px;
}

.my-resources .resources span {
  color:white; 
  font-size:32px; 
  font-weight: 700; 
  margin: 0 0 0 10px;
}

/* My Discard */

.my-discard-fill, .my-deck-fill {
  cursor:pointer;
}

.my-discard-empty {
  position:fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

.my-discard-empty-label {
  position:absolute; 
  margin: 0; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  user-select:none;
}

.my-deck-empty {
  position:fixed;
}

.my-deck-empty-label {
  position:absolute; 
  margin: 0; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  user-select:none;
}

.my-deck-manual {
  position:absolute; 
  left:50%; 
  -ms-transform: translateX(-50%); 
  transform: translateX(-50%); 
  bottom:0px; 
  z-index:1000;
}




/* My Units */

.spaceAlliesContainer {
  overflow-y:auto; 
  padding: 5px 20px 12px 20px; 
  position: fixed; 
  bottom:200px; 
  left:41px; 
  width: calc(50% - 291px); 
}

.groundAlliesContainer {
  overflow-y:auto; 
  padding: 5px 20px 12px 20px; 
  position: fixed; 
  bottom:200px; 
  right:278px; 
  width: calc(50% - 291px); 
}

.my-units-manual {
  position:relative; 
  left:-15px; 
  width:15px; 
  height:100%;
}

/* Their Resources */

.their-resources .resources {
  padding:28px 0; 
  display: flex; 
  justify-content: center; 
  cursor:default;
}

.their-resources .resources img {
  width:26px; 
  height:34px; 
  margin-top:3px;
}

.their-resources .resources span {
  color:white; 
  font-size:32px; 
  font-weight: 700; 
  margin: 0 0 0 10px;
}

/* Their Units */

.spaceEnemiesContainer {
  overflow-y:auto; 
  padding: 20px 20px 15px 20px; 
  position: fixed; 
  top:140px; 
  left:41px; 
  width: calc(50% - 291px);
}

.groundEnemiesContainer {
  overflow-y:auto; 
  padding: 20px 20px 15px 20px; 
  position: fixed; 
  top:140px; 
  right:278px; 
  width: calc(50% - 291px); 
}

/* Opponent Hand */

.their-hand-wrapper {
  display: flex; 
  justify-content: center; 
}

.their-discard {
  cursor:pointer;
}

.their-discard-empty {
  position:absolute; 
  margin: 0; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  user-select:none;
}

.their-deck-empty-pos {
  position:fixed; 
  background-color: rgba(0, 0, 0, 0.4);
}

.their-deck-empty {
  position:absolute; 
  margin: 0;  
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  user-select:none;
}

.their-deck-manual {
  position:absolute; 
  left:50%; 
  -ms-transform: translateX(-50%); 
  transform: translateX(-50%);  
  bottom:0px; 
  z-index:1000;
}

/* Table Border */

.table-border-a {
  border-spacing:0; 
  border-collapse: collapse;
}


/* Arena BGs */

#spaceArena {
  position: absolute; 
  z-index: -5; 
  top:140px; 
  left:41px; 
  width:calc(50% - 251px); 
  height:calc(100% - 340px); 
  opacity:.6; 
  border-radius:17px; 
  background-size: cover; 
  background-position: 60% 50%; 
  background-image: url('../Images/bg-deathstar.jpg');
}


#groundArena {
  position: absolute; 
  z-index: -5; 
  top:140px; 
  right:278px; 
  width:calc(50% - 251px); 
  height:calc(100% - 340px); 
  opacity:.4; 
  border-radius:17px; 
  background-size: cover; 
  background-position: 80% 50%; 
  background-image: url('../Images/bg-echobase.jpg');
}

.groundArena-dimmer {
  position: absolute; 
  z-index: -6; 
  top:140px; 
  right:278px; 
  width:calc(50% - 251px); 
  height:calc(100% - 340px); 
  opacity:.6;
  border-radius:17px; 
  background-size: cover; 
  background:#131F2A;
}


/* Effects UI */

.opponent-effects {
  position:absolute; 
  width:90px; 
  left:20px; 
  top:150px;
}

.friendly-effects {
  position:fixed; 
  width:90px; 
  left:20px; 
  bottom:213px;
}

/* Pass Button */

.passButton {
  display: inline-block; 
  z-index: 20; 
  cursor:pointer; 
  padding:8px 20px 10px; 
  box-shadow:inset 0 0 0 1px #454545; 
  border-radius: 5px;
}

.pass-label {
  margin: 0 1px 0 0; 
  color:white;
  font-size:18px; 
  font-weight: 600; 
  user-select: none;
}

.pass-tag {
  bottom:2px; 
  font-size:12px; 
  color:#BDBDBD; 
  user-select: none;
}

/* Player Pick */

.playerpick-span {
  font-size:18px;
}

.playerpick-img {
  height:16px; 
  margin-right:5px; 
  vertical-align: -2px; 
  user-select: none;
}

/* Display Game Screen */

.display-game-screen {
  position:fixed; 
  left:0; 
  right:238px; 
  bottom:20px; 
  display:inline-block; 
  font-size:30px; 
  text-align:center; 
  min-height:35px;
}

.display-game-screen-manual {
  position:relative; 
  top: 5px; 
  z-index:10; 
  font-family:Helvetica; 
  font-size:18px; 
  font-weight: 550;
}

#manualAddCardToHand {
  width: 100px;
}

.manualAddCardToHand-button {
  position:relative; 
  font-size: 14px; 
  top:0; 
  left:0; 
  bottom: 5px; 
  box-shadow: none;
}

/* Base Damage Counters */

.base-dmg-wrapper {
  position:absolute; 
  z-index:1; 
  left: calc(50% - 169px); 
  width: 100px;
}

.base-dmg-position {
  display: flex; 
  justify-content: center;
}

.base-my-dmg, .base-their-dmg {
  position:fixed;
  height: 30px;
  padding: 0 10px; 
  background: url('../Images/dmgbg-l.png') left no-repeat, url('../Images/dmgbg-r.png') right no-repeat; 
  background-size: contain;
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.40));
  font-weight: 700; 
  font-size: 24px; 
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);  
  user-select: none;
  pointer-events:none
}

.base-my-dmg-manual {
  position:absolute; 
  top:120px; 
  left:65px;
}

.base-their-dmg-manual {
  position:absolute; 
  top:0px; 
  left:65px;
}

/* Game Background */

.game-bg {
  position:absolute; 
  z-index:-100; 
  left:0px; 
  top:0px; 
  width:100%; 
  height:100%;
}

.game-bg img {
  object-fit: cover; 
  height:100%; 
  width:100%;
}

/* Icon Holder */

#iconHolder {
  display: none;
}


/* Original */

#theirHand span a {
  border-radius: 8px;
}

.base-my-dmg {
  bottom: 365px;
} 

.base-their-dmg{
  top: 305px;
} 

@media only screen and (max-height: 733px) {
.base-my-dmg {
  bottom: calc(50% - 2px);
} 

.base-their-dmg{
  top: calc(50% - 62px);
} 
}

.spaceAlliesContainer, .groundAlliesContainer,
.spaceEnemiesContainer, .groundEnemiesContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

.spaceAlliesContainer, .spaceEnemiesContainer {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.groundAlliesContainer, .groundEnemiesContainer {
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

.spaceAlliesContainer .cardContainer, .groundAlliesContainer .cardContainer,
.spaceEnemiesContainer .cardContainer, .groundEnemiesContainer .cardContainer  {
  position: relative;
  display: flex;
}

.spaceAlliesContainer .cardImage, .groundAlliesContainer .cardImage,
.spaceEnemiesContainer .cardImage, .groundEnemiesContainer .cardImage {
  filter: drop-shadow(2px 2px 6px rgb(0, 0, 0, 0.3));
}

.cardContainer.exhausted {
  transform: rotate(5deg);
}
