.p1-label {
    color: #228ef5;
}

.p2-label {
    color: #fb4242;
}

.p1-shadow {
    box-shadow: 0 0 12px rgba(100, 120, 210, 50);
}

.p2-shadow {
    box-shadow: 0 0 12px rgba(210, 110, 110, 50);
}
